.main-section {
    background-image: url('../img/img-main.jpeg');
    background-size: cover; /* La imagen cubrirá todo el ancho y largo */
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.card {
    height: 100px;
}

.card img{
    height: 250px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    background: url('../img/img-main.jpeg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.propiedades {
    padding: 20px;
    background-color: #f9f9f9;
}

.propiedad {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.propiedad img {
    max-width: 100%;
    border-radius: 5px;
}

.propiedad h4 {
    margin: 10px 0;
}

.propiedad p {
    margin: 5px 0;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}
